body {
background-color: black;

color: white;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin: 0;
padding: 0;
display:flex;
justify-content: center;
align-items: center;
min-height: 100vh;
flex: column;

background-size: cover;
}

h1{
    color:#30a046;
}

h2 {
    color: #30a046;
}

h3 {
    color: #30a046;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    
    min-height: calc(100vh - 200px);
    padding:40px;
    z-index: 1;
    position: relative;
    
   
    
    
}
.text{
    
    max-width: 600px;
    

}
.Link{

    color:darkgreen;



}
